#main {
  .welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
                url(../assets/main_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}