.product-img {
  width: 100%;
  height: 65vw;
  background-size: 100%;
  background-repeat: no-repeat;

  &.product-img-1 {
    background-image: url(../assets/product/cover.jpg);
  }
  &.product-img-2 {
    background-image: url(../assets/product/conten1.jpg);
  }
  &.product-img-3 {
    background-image: url(../assets/product/conten2.jpg);
  }
  &.product-img-4 {
    background-image: url(../assets/product/conten3.jpg);
  }
  &.product-img-5 {
    background-image: url(../assets/product/conten4.jpg);
  }
  &.xianju-img-1 {
    background-image: url(../assets/xianju/Xcover.jpg);
  }
  &.xianju-img-2 {
    background-image: url(../assets/xianju/Xcontent1.jpg);
  }
  &.xianju-img-3 {
    background-image: url(../assets/xianju/Xcontent2.jpg);
  }
  &.xianju-img-4 {
    background-image: url(../assets/xianju/Xcontent3.jpg);
  }
}